#bodyContainer{
    background-color: #f8f7f2;
    padding: 180px 0;
}
#mainInnerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icecreamContainer{
    flex: 0 0 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.416);
    border-radius: 50px;
    background: #ece5da52;
    backdrop-filter: blur(10px);
    margin: 20px;
}
.flavorOfTheIcecream{
    width: 120px;
    height: 60px;
    text-align: center;
    margin: 20px 0;
}
.icecream{
    width: 220px;
    align-self: center;
    transition-property: width;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 40ms;
    margin: 20px 0 0 0;
}
.icecream:hover{
    width: 190px;
    transition-duration: 100ms;
    transition-timing-function: ease;
}
.authorizationInnerContainer{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    background: #ece5da52;
    backdrop-filter: blur(10px);
    padding: 50px;
    
}
.authorizationInnerContainer button{
    background-color: #ece5da;
}
#logo2Contianer{
    width: 180px;
    height: 180px;
}
.logo2{
    width: 170px;
    height: 170px;
}
#lastContainer{
    height: 100vh;
}
#locatonInnerContainer{
    background-image: url('/project/images/chocolateBack.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#lastContainerMain{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    border: 2px solid black;
    font-size: 25px;
    background-color: #ece5da;
    padding: 30px 30px 50px 30px;
}
hr{
    width: 100%;
}
h3{
    font-size: 50px;
    height: 25%;
}
button{
    height: 80px;
    width: 350px;
}
#footerInnerContianer{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    height: 20%;
}
#footerInnerContianer div{
    display: flex;
    flex-wrap: wrap;
}
#footerInnerContianer img{
    margin: 5px 10px;
}
.lastInnerElement{
    position: relative;
    width: 100px;
    margin: 10px;
}
.lastInnerElement:hover{
    cursor: pointer;
}
.lastInnerElement::after{
    content:" ";
    height: 4px;
    width: 0px;
    top: 21px;
    left: -15px;
    margin: 0px 15px;
    background-color: #36171b;
    position: absolute;
    transition: width 300ms ease;
}
.lastInnerElement:hover::after{
    width: 100%;
}
button{
    border: none;
    height: 80px;
    width: 350px;
    border: 1px solid #36171b;
    background-color: white ;
    color: #36171b;
    transition-property: opacity color font-weight box-shadow;
    transition-duration: 400ms;
    transition-timing-function: ease;
}
button:hover{
    opacity: 0.8;
    color: #36171b;
    font-weight: bold;
    box-shadow: #da3dab 1px 3px ;
    cursor: pointer;
}
button:active{
    opacity: 0.4;
}