/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@media screen and (max-width : 600px){
    #lastContainerMain{
        width: 200px;
    }
    h1{
        font-size: 90px;
        margin: 1px 0;
    }
    h2{
        font-size: 30px;
        margin: 0 0 1px 0;
    }
    #headContainer{
        height: 50vh;
    }
    .logo1 {
        position: absolute;
        right: 12%;
    }
    button{
        width: 120px;
    }
    .logo2{
        width: 70px;
        height: 70px;
    }
    .icon{
        width: 20px;
    }
    .icecream{
        width: 130px;
        -webkit-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
    }
    .icecream:hover{
        width: 135px;
        -webkit-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
    }
    .lastInnerElement{
        margin: 8px;
    }
    #footerInnerContianer div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media screen and (max-height:500px) and (orientation: landscape){
    body{
        font-size: 10px;
    }
    .logo1 {
        position: absolute;
        right: 30%;
    }
    #locatonInnerContainer{
        height: 80vh;
    }
    #lastContainerMain{
        height: 100px;
        width: 300px;
    }
    #lastContainerMain{
        width: 200px;
    }
    p{
        font-size: 15px;
        margin: 0;
    }
    h3{
        font-size: 20px;
        margin: 0;
    }
    button{
        width: 180px;
        height: 80px;
        margin: 10px;
    }
    .logo2{
        width: 70px;
        height: 70px;
    }
    .icon{
        width: 20px;
    }
    .icecream{
        width: 130px;
        -webkit-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
    }
    .icecream:hover{
        width: 135px;
        -webkit-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
    }
    .lastInnerElement{
        margin: 8px;
    }
    #footerInnerContianer div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #bodyContainer{
        padding: 10;
        margin: 0;
    }
    #titleInnerContaianer{
        height: 300px;
    }
    #headerInnnerContainer{
        height: 120px;
    }
}